body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0 1em;
}

table {
  border-collapse: collapse;
}

td, th {
  padding-right: 1em;
  border-bottom: 0.1em solid #dddddd;
}

th {
  text-align: left;
  font-weight: bold;
}

.iso-code {
  font-family: monospace;
}
