body {
  margin: 0 auto;
  padding: 2em 1em 0;
  max-width: 36em;
  font-family: sans-serif;
  line-height: 1.6;
}

p {
  hyphens: auto;
  text-align: justify;
}

#logo {
  display: block;
  height: 6em;
  margin: 0 auto;
}

#title {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
}

#screenshot {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/*
Modern CSS has logical properties ("margin-inline-end", "float:
inline-start", etc.) and ":dir()" for things that depend on script
direction, but we instead use "[dir="rtl"]" selectors to support old
browsers.
*/

#copyright {
  float: right;
}

html[dir="rtl"] #copyright {
  float: left;
}

footer {
  padding: 0.5em 0;
  border-top: 0.12em solid #aaa;
  font-size: 0.8em;
}
