body {
  margin: 0 auto;
  padding: 1em 1em 0;
  max-width: 36em;
  font-family: sans-serif;
  line-height: 1.6;
}

#logo {
  height: 5em;
}

footer {
  padding: 0.5em 0;
  border-top: 0.12em solid #aaa;
  font-size: 0.8em;
}
