body {
    max-width: 38em;
    margin: 0 auto;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13pt;
    line-height: 1.5;
}

#TOC ul {
    list-style-type: none;
}

code {
    font-family: "Liberation Mono", "DejaVu Sans Mono", Consolas, monospace;
    font-size: 0.8em;
    background: #dfdfdf;
    padding: 0.1em 0.4em;
    white-space: pre;
}

pre code {
    display: block;
    white-space: pre;
    padding: 1em;
    overflow-y: auto;
}

@media screen and (max-width: 38em) {
  body {
    font-size: initial;
  }
}
