[Desktop Entry]
Type=Application
Name=dpScreenOCR
Exec=dpscreenocr
Icon=dpscreenocr
Categories=Graphics;OCR;
SingleMainWindow=true
Terminal=false
Comment=A program to recognize text on the screen
