[Desktop Entry]
Type=Application
Name=dpScreenOCR
Exec=dpscreenocr
Icon=dpscreenocr
Categories=Utility;
Terminal=false
Comment=Program to recognize text on screen
Comment[ca]=Programa per a reconèixer el text en pantalla
Comment[de]=Programm zur Erkennung von Text auf dem Bildschirm
Comment[es]=Programa para reconocer el texto en pantalla
Comment[hr]=Program za prepoznavanje teksta na ekranu
Comment[nb_NO]=Program for gjenkjenning av tekst på skjermen
Comment[pl]=Program do rozpoznawania tekstu na ekranie
Comment[ru]=Программа для распознавания текста на экране
Comment[uk]=Програма для розпізнавання тексту не екрані
